datasets/
runs/detect/custom_yolov8n
runs/detect/custom_yolov8n2/args.yaml
runs/detect/custom_yolov8n2/labels_correlogram.jpg
runs/detect/custom_yolov8n2/labels.jpg
runs/detect/custom_yolov8n2/results.csv
runs/detect/custom_yolov8n2/train_batch0.jpg
runs/detect/custom_yolov8n2/train_batch1.jpg
runs/detect/custom_yolov8n2/train_batch2.jpg
runs/detect/custom_yolov8n2/weights/last.pt
runs/detect/custom_yolov8n2/weights/best.pt
runs/detect/val
runs/detect/val2
runs/detect/val3
runs/detect/val4
runs/detect/val5
runs/detect/val6
runs/detect/val7
yolov8n.onnx